<!DOCTYPE html>
<html lang="en">
<head>
  <title>Car Detail</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
  <h1>Car Detail</h1>
  <p><strong>Model:</strong> {{ car.model }}</p>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}, {{ car.manufacturer.country }}</p>
  <h2>Drivers:</h2>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }}</li>
    {% endfor %}
  </ul>
</div>
</body>
</html>
