<!DOCTYPE html>
<html lang="en">
<head>
  <title>Driver List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
  <h1>Driver List</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>License Number</th>
      </tr>
    </thead>
    <tbody>
      {% for driver in object_list %}
        <tr>
          <td>{{ driver.id }}</td>
          <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a></td>
          <td>{{ driver.license_number }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
</div>
</body>
</html>
